* {
  font-size: 62.5%;
  font-family: Inter;
}
html,
body {
  overflow-x: hidden;
}
body {
  /* background-image: url("./Desktop\ -\ 8\ \(1\).png"); */
  /* background-image: url("./Gaslur\ landing\ page.png"); */
  /* background-image: url("./NFT.png"); */
  /* background-image: url("./Landing\ Page\ \(2\).png"); */
  /* background-image: url("./NFT\ for\ Music\ Creators.jpg"); */
  /* background-image: url("./Desktop\ -\ 8\ \(4\).png"); */
  /* background-image: url("./Desktop\ -\ 9.svg"); */
  background-image: url("./Desktop\ -\ 9\ \(1\).png");
  width: 100vw;
  height: 450vh;
  background-size: cover;
}
nav {
  width: 90vw;
  margin: 0 auto;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 3rem;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}
li {
  font-size: 1.8rem;
  color: #a1a1a1;
}
.logo svg {
  width: 5rem;
}
li:hover {
  cursor: pointer;
  color: #fff;
}
.login {
  font-size: 2rem;
  color: #ededed;
  align-self: center;
  font-size: 2rem;
  padding: 1.1rem 2.3rem;
  border-radius: 1rem;

  border: 2px solid #ededed30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}
.login:hover {
  transition: 0.2s all;
  cursor: pointer;
  background-color: #ededed10;
}
.signup {
  transition: 0.2s all;
  align-self: center;
  font-size: 2rem;
  padding: 1.1rem 2.3rem;
  border-radius: 1rem;
  background-color: #b6f09c;
  border: 2px solid #b6f09c;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup:hover {
  cursor: pointer;
  transition: 0.2s all;
  background-color: #d0d0d0;
}
.btns {
  align-items: center;
  display: flex;
  gap: 3rem;
}
main {
  height: 70vh;
  width: 130rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 15rem;
  flex-direction: column;
  gap: 3rem;
}
.h2head {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #b6f09c99;
  /* color: #fafafa80; */
}
.h1head {
  font-size: 10rem;
  margin-top: -3rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
main p {
  margin-top: -7rem;
  font-weight: 300;
  text-align: center;
  max-width: 110rem;
  color: #fafafa99;
  font-size: 2.2rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}
.snip {
  /* padding: 0.5rem 2rem; */
  /* background-color: #fff; */
  /* color: #333; */
  font-size: 10rem;
  background: linear-gradient(170deg, #4d62e5 0%, #87ddee 50%, #b6f09c 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #006ee0; */
  /* color: #b6f09c; */
  /* color: #008382; */
  /* transform: translateY(-1rem); */
  /* border-radius: 1rem; */
}
.btn1 {
  transition: 0.2s all;
  align-self: center;
  font-size: 2.2rem;
  padding: 1.3rem 2.5rem;
  /* color: #fff; */
  border-radius: 1rem;
  /* background-color: #b6f09c; */
  border: 2px solid
    linear-gradient(170deg, #4d62e5 0%, #87ddee 70%, #b6f09c 100%);
  background: linear-gradient(170deg, #4d62e5 0%, #87ddee 70%, #b6f09c 100%);

  /* color: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn2 {
  transition: 0.2s all;
  align-self: center;
  font-size: 2.2rem;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: 0 0 5rem #b6f09c60;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn2::before {
  content: "";
  position: absolute;
  display: none;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  background: linear-gradient(170deg, #4d62e5 0%, #87ddee 70%, #b6f09c 100%);
}
.btn2::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 2.5px;
  background: linear-gradient(170deg, #4d62e5 0%, #87ddee 70%, #b6f09c 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* .btn2::before {
      border-radius: 0.1rem;
      content: "";
      background-image: linear-gradient(
        170deg,
        #4d62e5 0%,
        #87ddee 70%,
        #b6f09c 100%
      );
      padding: 0.2rem;
      width: 80%;
      height: 100%;
      top: -10px;
      left: -10px;
      position: absolute;
      z-index: -1;
    } */
.integrations,
.about,
.gettingStarted {
  /* background-color: #4d62e5; */
  width: 100vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1,
.gettingStarted h1 {
  font-size: 7rem;
  color: #fff;
}
.gettingStarted p {
  margin-top: -3rem;
  font-weight: 300;
  text-align: center;
  max-width: 130rem;
  color: #fafafa99;
  font-size: 2.2rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}
.box {
  margin-top: 5rem;
  position: relative;
  width: 120rem;
  display: flex;
  /* gap: 3rem; */
  justify-content: space-between;
  /* height: 20vh; */
}
.box1 img {
  width: 7rem;
}
.ov {
  position: absolute;
  top: -20rem;
  left: -40rem;
  width: 150%;
  opacity: 70%;
}
.ov2 {
  position: absolute;
  transform: rotate(180deg);
  top: -20rem;
  right: -40rem;
  opacity: 70%;
  width: 150%;
}
.box1 {
  padding: 3rem;
  min-width: 15rem;
  min-height: 15rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  align-items: center;
  justify-content: center;
  background-color: #ffffff30;
}
.box1 h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
}
.line {
  width: 100%;
  border-top: 2px dotted #fff;
  align-self: center;
}
.about h1 {
  margin-top: 15rem;
}
.aboutBox {
  width: 140rem;
  margin: 5rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* grid-template-columns: 1fr 1fr; */
  gap: 5rem;
}
.aboutContent {
  display: flex;
  align-self: flex-start !important;
  justify-self: flex-start;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  /* gap: 3rem; */
}

.aboutContent h1 {
  color: #b6f09c !important;
  margin-top: 3rem;
  font-size: 4rem !important;
  font-weight: 400;
  /* color: #fff; */
}
.aboutBox img {
  width: 60%;
}
.aboutContent p {
  /* margin-top: -3rem; */
  font-weight: 300;
  /* text-align: center; */
  max-width: 130rem;
  color: #fafafa99;
  font-size: 2.2rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}
.aboutContent .btn1 {
  align-self: flex-start;
  margin-top: 2rem;
  /* color: #eee; */
}
.integrations {
  margin-top: 20rem;
}
.integrations p {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
  color: #fff;
}
.integ {
  padding: 0.2rem 1rem;
  background-color: #b6f09c;
  border-radius: 0.5rem;
  font-size: 3rem;
  color: #333;
}
.sp1 {
  padding: 3rem;
  border-radius: 1rem;
  background-color: #eeeeee10;
}
.supported {
  /* margin-top: 5rem; */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-left: -14rem;
}
.spp2 {
  margin-left: 14rem;
}
.contact {
  margin: 20rem auto;
  width: 120rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #eeeeee20;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.contactBox h1 {
  font-size: 4rem;
  color: #fff;
}
.contactBox .cont {
  font-size: 4rem;
  color: #b6f09c;
}

.contactBox p {
  margin-top: -1rem;
  font-weight: 300;
  /* text-align: center;  */
  max-width: 130rem;
  color: #fafafa99;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}
.inpbox {
  display: grid;
  grid-template-columns: 3fr 1.4fr;
}
.inpbox input {
  background-color: #eeeeee05;
  border: 1px solid #eeeeee70;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.inpbox .signup {
  margin-bottom: 5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
