<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autophile</title>
    <link rel="stylesheet" href="css/headphones.css" />
  </head>
  <body> 
    <div class="hero">
    
    <nav>
      <div class="nav">

        <img src="/Images/shared/desktop/logo.svg" alt="" class="logo" />
        <ul>
          <a href="/">
            <li>HOME</li>
          </a>
          <a href="/headphones">
            <li class="active">HEADPHONES</li>
          </a>
          <a href="/speakers">
            <li>SPEAKERS</li>
          </a>
          <a href="/earphones">
            <li>EARPHONES</li>
          </a>
        </ul>
        <img src="/Images/shared/desktop/icon-cart.svg" alt="" />
      </div>
    </nav>
   <div class="heading-hero">
    HEADPHONES
   </div>
  </div>
<div class="products">
  <div class="prod product-1">
    <img src="/Images/category-headphones/desktop/image-xx99-mark-two.jpg" alt="">
    <div class="content-prod">
      <h2>new product</h2>
      <h1>XX99 MARK II <br> HEADPHONES</h1>
      <p>The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound.</p>
      <a href="/xx99-mark-two">SEE PRODUCT</a>
    </div>
  </div>
  <div class="prod product-1">
    <div class="content-prod">
      <!-- <h2>new product</h2> -->
      <h1>XX99 MARK I <br> HEADPHONES</h1>
      <p>As the gold standard for headphones, the classic XX99 Mark I offers detailed and accurate audio reproduction for audiophiles, mixing engineers, and music aficionados alike in studios and on the go.</p>
      <a href="/xx99-mark-one">SEE PRODUCT</a>
    </div>
    <img src="/Images/category-headphones/desktop/image-xx99-mark-one.jpg" alt="">
  </div>
  <div class="prod product-1">
    <img src="/Images/category-headphones/desktop/image-xx59.jpg" alt="">
    <div class="content-prod">
      <!-- <h2>new product</h2> -->
      <h1>XX59  <br> HEADPHONES</h1>
      <p>Enjoy your audio almost anywhere and customize it to your specific tastes with the XX59 headphones. The stylish yet durable versatile wireless headset is a brilliant companion at home or on the move.</p>
      <a href="/xx59tml">SEE PRODUCT</a>
    </div>
  </div>
  <!-- <div class="prod product-2"></div>
  <div class="prod product-3"></div> -->
</div>

    </div>
    <div class="space"></div>
    <div class="category">
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-headphones.png"
          alt=""
        />
        <h1>HEADPHONES</h1>
        <div>
          <a href="/headphones">

            <p>SHOP</p>
            <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-speakers.png"
          alt=""
        />
        <h1>SPEAKERS</h1>
        <div>
          <a href="/speaker">

            <p>SHOP</p>
            <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-earphones.png"
          alt=""
        />
        <h1>EARPHONES</h1>
        <div>
          <a href="/earphone">

            <p>SHOP</p>
            <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
    </div>

   
    <div class="thebest headbest">
      <div class="content4">
        <h1>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h1>
        <p>
          Located at the heart of New York City, Audiophile is the premier store
          for high end headphones, earphones, speakers, and audio accessories.
          We have a large showroom and luxury demonstration rooms available for
          you to browse and experience a wide range of our products. Stop by our
          store to meet some of the fantastic people who make Audiophile the
          best place to buy your portable audio equipment.
        </p>
      </div>
      <img src="/Images/shared/desktop/image-best-gear.jpg" alt="" />
    </div>
    <footer>
      <div class="content5">
        <div class="foot-nav">
          <img src="/Images/shared/desktop/logo.svg" alt="" class="logo" />
          <ul>
            <a href="">
              <li>HOME</li>
            </a>
            <a href="">
              <li>HEADPHONES</li>
            </a>
            <a href="">
              <li>SPEAKERS</li>
            </a>
            <a href="">
              <li>EARPHONES</li>
            </a>
          </ul>
        </div>
        <div class="foot-col-2">
          <div class="foot-p">
            <p>
              Audiophile is an all in one stop to fulfill your audio needs.
              We're a small team of music lovers and sound specialists who are
              devoted to helping you get the most out of personal audio. Come
              and visit our demo facility - we’re open 7 days a week.
            </p>
          </div>
          <div class="socials">
            <div>
              <div>
                <img src="/Images/shared/desktop/icon-facebook.svg" alt="" />
                <img src="/Images/shared/desktop/icon-instagram.svg" alt="" />
                <img src="/Images/shared/desktop/icon-twitter.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright 2021. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
