<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autophile</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="css/xx99-mark-two-headphones.css" />
  </head>
  <body>
    <!-- <div class="hero"> -->
    
    <nav>
      <div class="nav">

        <img src="/Images/shared/desktop/logo.svg" alt="" class="logo" />
        <ul>
          <a href="/">
            <li>HOME</li>
          </a>
          <a href="/headphones">
          <li class="active">HEADPHONES</li>
        </a>
        <a href="/speakers">
          <li>SPEAKERS</li>
        </a>
        <a href="/earphones">
          <li>EARPHONES</li>
        </a>
      </ul>
      <img src="/Images/shared/desktop/icon-cart.svg" alt="" />
    </div>
    </nav>
   <!-- <div class="heading-hero">
    HEADPHONES
   </div> -->
  <!-- </div> -->
<div class="products">
    <a href="/" class="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <h2 class="chaljaa">Go Back</h2>
    </a>
  <div class="prod product-1">
    <img src="/Images/category-headphones/desktop/image-xx99-mark-two.jpg" alt="">
    <div class="content-prod">
      <h2>new product</h2>
      <h1>XX99 MARK II <br> HEADPHONES</h1>
      <p>The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound.</p>
      <h1 class="price">$ 2,999</h1>
      <div class="btns">
        <div class="quantity">
            <div class="plus">+</div>
            <div class="quantityNumber">1</div>
            <div class="minus">-</div>
        </div>
          <a href="">ADD TO CART</a>
        </div>
    </div>
  </div>
  <div class="features">
    <div class="features-1">
        <h1>FEATURES</h1>
        <p>Featuring a genuine leather head strap and premium earcups, these headphones deliver superior comfort for those who like to enjoy endless listening. It includes intuitive controls designed for any situation. Whether you’re taking a business call or just in your own personal space, the auto on/off and pause features ensure that you’ll never miss a beat.</p>
        <p>The advanced Active Noise Cancellation with built-in equalizer allow you to experience your audio world on your terms. It lets you enjoy your audio in peace, but quickly interact with your surroundings when you need to. Combined with Bluetooth 5. 0 compliant connectivity and 17 hour battery life, the XX99 Mark II headphones gives you superior sound, cutting-edge technology, and a modern design aesthetic.

</p>
    </div>
    <div class="features-2">
        <div class="fert">

            <h1>IN THE BOX</h1>
            <ul>
                <div><span class="spn">1x</span><p class="pan">Headphone unit</p></div>
                <div><span class="spn">2x</span><p class="pan">Replacement Earcups</p></div>
                <div><span class="spn">1x</span><p class="pan">User Manual</p></div>
                <div><span class="spn">1x</span><p class="pan">3.5mm 5m Audio Cable</p></div>
                <div><span class="spn">1x</span><p class="pan">Travel Bag</p></div>
            </ul>
        </div>
    </div>
  </div>
  </div>
<div class="gallery">
    <div class="img1">
        <img src="/Images/product-xx99-mark-two-headphones/desktop/image-gallery-1.jpg" alt="">
        <img src="/Images/product-xx99-mark-two-headphones/desktop/image-gallery-2.jpg" alt="">
    </div>
    <img src="/Images/product-xx99-mark-two-headphones/desktop/image-gallery-3.jpg" alt="" class="img2">

</div>
<div class="like">
    <h1>YOU MAY ALSO LIKE</h1>
    <div class="likes">
        <div class="likeb">
            <img src="/Images/shared/desktop/image-xx99-mark-one-headphones.jpg" alt="">
            <h1>XX99 MARK I</h1>
            <a href="/xx99-mark-one">SEE PRODUCT</a>
            
          </div>
          <div class="likeb">
            <img src="/Images/shared/desktop/image-xx59-headphones.jpg" alt="">
            <h1>XX59</h1>
            <a href="/xx59">SEE PRODUCT</a>
          </div>
          <div class="likeb">
            <img src="/Images/shared/desktop/image-zx9-speaker.jpg" alt="">
            <h1>ZX9 SPEAKER</h1>
            <a href="/zx9">SEE PRODUCT</a>
        </div>
    </div>
</div>

    </div>
    <div class="space"></div>
    <div class="category">
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-headphones.png"
          alt=""
        />
        <h1>HEADPHONES</h1>
        <div><a href="/headphones">

          <p>SHOP</p>
          <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
        </a>
        </div>
      </div>
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-speakers.png"
          alt=""
        />
        <h1>SPEAKERS</h1>
        <div>
          <a href="/speakers">

            <p>SHOP</p>
            <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="block">
        <img
          class="img-icon"
          src="/Images/shared/desktop/image-earphones.png"
          alt=""
        />
        <h1>EARPHONES</h1>
        <div>
          <a href="/earphones">

            <p>SHOP</p>
            <img src="/Images/shared/desktop/icon-arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
    </div>

   
    <div class="thebest headbest">
      <div class="content4">
        <h1>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h1>
        <p>
          Located at the heart of New York City, Audiophile is the premier store
          for high end headphones, earphones, speakers, and audio accessories.
          We have a large showroom and luxury demonstration rooms available for
          you to browse and experience a wide range of our products. Stop by our
          store to meet some of the fantastic people who make Audiophile the
          best place to buy your portable audio equipment.
        </p>
      </div>
      <img src="/Images/shared/desktop/image-best-gear.jpg" alt="" />
    </div>
    <footer>
      <div class="content5">
        <div class="foot-nav">
          <img src="/Images/shared/desktop/logo.svg" alt="" class="logo" />
          <ul>
            <a href="">
              <li>HOME</li>
            </a>
            <a href="">
              <li>HEADPHONES</li>
            </a>
            <a href="">
              <li>SPEAKERS</li>
            </a>
            <a href="">
              <li>EARPHONES</li>
            </a>
          </ul>
        </div>
        <div class="foot-col-2">
          <div class="foot-p">
            <p>
              Audiophile is an all in one stop to fulfill your audio needs.
              We're a small team of music lovers and sound specialists who are
              devoted to helping you get the most out of personal audio. Come
              and visit our demo facility - we’re open 7 days a week.
            </p>
          </div>
          <div class="socials">
            <div>
              <div>
                <img src="/Images/shared/desktop/icon-facebook.svg" alt="" />
                <img src="/Images/shared/desktop/icon-instagram.svg" alt="" />
                <img src="/Images/shared/desktop/icon-twitter.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright 2021. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
